*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/gradle/wrapper/
/secret.properties
/keystore.properties
/release_key.jks
/app/dev/debug/
/app/src/androidTest/java/com/cc/glow/
/app/src/test/java/com/cc/glow/
